<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap"
			rel="stylesheet"
		/>
        <link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/global.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/about.css') }}"
		/>
	</head>
	<body>
		<div class="wrapper">
			<h1>My name is Jakub</h1>
			<div class="container">Im 21 yo</div>
			<div class="container">Im an IT programmer for 2 years</div>
			<div class="container">I dont know what else to put here</div>
		</div>
	</body>
</html>
